/*Author: Alicia Piavis
  Title: Add Columns with grid-template-columns
  Date: 4/10/2019
  Project: Techtonic Pre-Work
  Summary: I learned how to create columns in the grid using grid-template-
     columns.  The number of parameters defines the number of columns, and the
     values of the parameters define the widths of the columns.*/

<style>
  .d1{background:LightSkyBlue;}
  .d2{background:LightSalmon;}
  .d3{background:PaleTurquoise;}
  .d4{background:LightPink;}
  .d5{background:PaleGreen;}

  .container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    display: grid;
    /* add your code below this line */
    grid-template-columns: 100px 100px 100px;

    /* add your code above this line */
  }
</style>

<div class="container">
  <div class="d1">1</div>
  <div class="d2">2</div>
  <div class="d3">3</div>
  <div class="d4">4</div>
  <div class="d5">5</div>
</div>
