/*Author: Alicia Piavis
  Title: Use grid-column to Control Spacing
  Date: 4/10/2019
  Project: Techtonic Pre-Work
  Summary: I learned how to declare where an item should start and stop in the
     grid by using grid-column in conjuntion with the line numbers in the grid.
     Line numbers in the grid begin with 1 in the top, left corner and then
     increase in value to the right across columns and down rows.*/

<style>
  .item1{background:LightSkyBlue;}
  .item2{background:LightSalmon;}
  .item3{background:PaleTurquoise;}
  .item4{background:LightPink;}

  .item5 {
    background: PaleGreen;
    /* add your code below this line */
    grid-column: 2 / 4;

    /* add your code above this line */
  }

  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
</style>

<div class="container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
</div>
