/*Author: Alicia Piavis
  Title: Use the flex Shorthand Property
  Date: 4/10/2019
  Project: Techtonic Pre-Work
  Summary: I learned how to use the flex shorthand property to set multiple flex
     values at once. The default shorthand is flex: 0 1 auto;. The order of
     values is grow, shrink, basis.*/

<style>
  #box-container {
    display: flex;
    height: 500px;
  }
  #box-1 {
    background-color: dodgerblue;
    flex: 2 2 150px;
    height: 200px;
  }

  #box-2 {
    background-color: orangered;
    flex: 1 1 150px;
    height: 200px;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
