/*Author: Alicia Piavis
  Title: Use RGB to Mix Colors
  Date: 4/9/2019
  Project: Techtonic Pre-Work
  Summary: I learned how to mix colors by creating new combinations of RGB values
    for red, green, and blue.*/

<style>
  .red-text {
    color: rgb(255, 0, 0);
  }
  .orchid-text {
    color: rgb(218, 112, 214);
  }
  .sienna-text {
    color: rgb(160, 82, 45);
  }
  .blue-text {
    color: rgb(0, 0, 255);
  }
</style>

<h1 class="red-text">I am red!</h1>

<h1 class="orchid-text">I am orchid!</h1>

<h1 class="sienna-text">I am sienna!</h1>

<h1 class="blue-text">I am blue!</h1>
